{{!-- --}}
<section
  class="tab tab--{{tab.id}} {{tab.cssClass}}"
  data-tab="{{tab.id}}"
  data-group="{{tab.group}}"
>
  <header>
    <h2>Actions</h2>
    <button
      data-tooltip="Add new action"
      aria-label="Add new action"
      data-action="addAction"
    >
      <i class="fa fa-plus"></i>
    </button>
  </header>
  <main>
    <ul class="action-list">
      {{#each actions}}{{log this}}
      <li class="action-list-item" data-action-id="{{id}}">
        <header class="action-list-item__header">
          <img
            src="{{img}}"
            alt=""
            class="action-list-item__icon"
            data-action="perform-action"
          />
          <div>
            <h3 data-action="perform-action">{{name}}</h3>
            <ul class="action-list-item-tags">
              {{#if flags.usesAttempt}}
              <li class="action-list-item__tag">
                {{#if attempt.isLikeAttack}}
                <i class="fa fa-dice-d20"></i>
                <span>Missile</span>
                {{else}}
                <i class="fa fa-dice-d6"></i>
                <span
                  >{{attempt.formula}}{{attempt.target.operator}}{{attempt.target.value}}
                </span>
                {{/if}}
              </li>
              {{/if}}
              {{#each effects}}
                <li>
                {{#if (eq type "attack")}}
                  <i class="fa fa-swords"></i>
                  <span>{{formula}}</span>
                {{else if (eq type "healing")}}
                  <i class="fa fa-heart-circle-plus"></i>
                  <span>{{formula}}</span>
                {{else if (eq type "macro")}}
                  <i class="fa fa-code"></i>
                {{else if (eq type "condition")}}
                  <span>(todo: display for when something applies a
                  condition)</span>
                {{else if (eq type "other")}}
                  <i class="sparkles"></i>
                  <span>{{note}}</span>
                {{/if}}
                </li>
              {{/each}}
            </ul>
          </div>
          <menu class="action-list-item__controls">
            <li><button data-action="editAction"><i class="fa fa-pencil"></i></button></li>
            <li><button data-action="deleteAction"><i class="fa fa-trash"></i></button></li>
          </menu>
        </header>
        <main>
          <blockquote>{{{description}}}</blockquote>
        </main>
      </li>
      {{/each}}
    </ul>
  </main>
</section>
