{{!-- --}}
<section
  class="tab tab--item-{{tab.id}} {{tab.cssClass}}"
  data-tab="{{tab.id}}"
  data-group="{{tab.group}}"
>
  <h2>{{localize "BAGS.Items.Common.Tabs.Description"}}</h2>
  <prose-mirror
    name="description"
    value="{{item.system.description}}"
  ></prose-mirror>
</section>
