<article
  class="tab tab--item-{{tab.id}}
    {{tab.cssClass}}{{ifThen tab.active ' active' ''}}"
  data-tab="{{tab.id}}"
  data-group="{{tab.group}}"
>
  {{#if item.system.flavorText}}
    <div class="flavor-text">{{{formattedSystem.flavorText}}}</div>
  {{/if}}

  {{!-- Container Contents Section --}}
  {{#if item.system.container.isContainer}}
    <section class="container-contents">
      <header class="container-contents__header">
        <h2>Contents</h2>
        {{#if item.system.container.weightMax}}
          <div class="container-capacity">
            <span class="capacity-current">{{containerData.currentWeight}}</span>
            /
            <span class="capacity-max">{{item.system.container.weightMax}}</span>
            lbs
          </div>
        {{/if}}
      </header>

      {{#if containerData.contents.length}}
        <div class="item-grid item-grid--container" style="--item-grid-minimum-rows: 3">
          {{#each containerData.contents}}
            <uft-item-tile
              class="item-grid__item draggable"
              data-item-id="{{id}}"
              uuid="{{uuid}}"
              data-in-container="true"
            ></uft-item-tile>
          {{/each}}
        </div>
      {{else}}
        <p class="empty">Container is empty</p>
      {{/if}}
    </section>
  {{/if}}

  <article class="item-details">
    <main class="scrollable">
      {{#if item.system.description}}
        {{{formattedSystem.description}}}
      {{else}}
        <p class="empty">No description</p>
      {{/if}}
    </main>

    {{#if item.system.actions.length}}
      <aside>
        <h2>Actions</h2>
        <menu class="action-menu">
          {{#each item.system.actions}}
            <li data-action-id="{{id}}" data-action="use-action">
              <img src="{{img}}" alt="" role="presentation" />
              <span>{{name}}</span>
            </li>
          {{/each}}
        </menu>
      </aside>
    {{/if}}
  </article>
</article>