<article
  class="tab tab--item-{{tab.id}} {{tab.cssClass}}"
  data-tab="{{tab.id}}"
  data-group="{{tab.group}}"
>
  <div>{{{item.system.flavorText}}}</div>

  <main>
    <h2>Description</h2>
    <div class="scroll-wrap">
      <div class="scrollable">{{{item.system.description}}}</div>
    </div>
  </main>

  <aside>
    <p>Quantity</p>
    <p>Uses (if max uses > 0)</p>

    <h2>Actions</h2>
    <menu class="action-menu">
      {{#each item.system.actions}}
      <li>
        <img
          src="{{img}}"
          alt=""
        />
        <span>{{name}}</span>
      </li>
      {{/each}}
    </menu>
  </aside>
</article>
