<article
  class="tab tab--item-{{tab.id}}
    {{tab.cssClass}}{{ifThen tab.active ' active' ''}}"
  data-tab="{{tab.id}}"
  data-group="{{tab.group}}"
>
  {{#if item.system.flavorText}}
    <div class="flavor-text">{{{formattedSystem.flavorText}}}</div>
  {{/if}}

  <article class="item-details">
    <main class="scrollable">
      {{#if item.system.description}}
        {{{formattedSystem.description}}}
      {{else}}
        <p class="empty">No description</p>
      {{/if}}
    </main>

    {{#if item.system.actions.length}}
      <aside>
        <h2>Actions</h2>
        <menu class="action-menu">
          {{#each item.system.actions}}
            <li data-action-id="{{id}}" data-action="use-action">
              <img src="{{img}}" alt="" role="presentation" />
              <span>{{name}}</span>
            </li>
          {{/each}}
        </menu>
      </aside>
    {{/if}}
  </article>
</article>