<nav
  class="application__tab-navigation sheet-tabs tabs"
  aria-role="{{localize 'SHEETS.FormNavLabel'}}"
>
  {{#each tabs as |tab|}}
    <button
      class="{{tab.cssClass}}"
      data-action="tab"
      data-group="{{tab.group}}"
      data-tab="{{tab.id}}"
      data-tooltip="{{localize tab.label}}"
      aria-label="{{localize tab.label}}"
      {{#if tab.disabled}}disabled{{/if}}
    >
      <i class="{{tab.icon}}"></i>
    </button>
  {{/each}}
</nav>
