{{!
}}
<section
  class="tab region-{{tab.id}} {{tab.cssClass}}"
  data-tab="{{tab.id}}"
  data-group="{{tab.group}}"
>
  <div class="control control--details">
    <label class="details-grid__label">{{localize
        "FACTIONS.templates.characterClass.hitDieSize"
      }}</label>
    <select
      class="details-grid__field"
      data-dtype="Number"
      name="system.hitDieSize"
      value="{{document.system.hitDieSize}}"
    >
      {{#select document.system.hitDieSize}}
        {{#each hitDieOptions}}
          <option value="{{this}}">d{{this}}</option>
        {{/each}}
      {{/select}}
    </select>

    <label class="details-grid__label">{{localize
        "FACTIONS.templates.characterClass.gearTable"
      }}</label>
    <div class="details-grid__field details-grid__field--gear-table">
      {{#if gearTable}}
        {{{gearTable}}}
        <button
          type="button"
          class="delete-button remove-gear-table"
          data-tooltip="Remove gear table"
          aria-label="Remove gear table"
        ><i class="fas fa-x"></i></button>
      {{else}}
        <p class="empty">{{localize
            "FACTIONS.templates.characterClass.empty.gearTable"
          }}</p>
      {{/if}}
    </div>

    <label class="details-grid__label">Weapons</label>
    <input
      class="details-grid__field"
      type="text"
      data-dtype="String"
      name="system.weapons"
      value="{{document.system.weapons}}"
    />

    <label class="details-grid__label">Armor</label>
    <input
      class="details-grid__field"
      type="text"
      data-dtype="String"
      name="system.armor"
      value="{{document.system.armor}}"
    />

    <label class="details-grid__label">Languages</label>
    <input
      class="details-grid__field details-grid__field--languages"
      type="text"
      data-dtype="String"
      name="system.languages"
      value="{{document.system.languages}}"
    />
  </div>

  <div class="control control--requisite-grid">
    <!-- First row -->
    <span class="requisite-grid__stat-label">{{localize
        "OSE.scores.str.short"
      }}</span>
    <span class="requisite-grid__stat-label">{{localize
        "OSE.scores.int.short"
      }}</span>
    <span class="requisite-grid__stat-label">{{localize
        "OSE.scores.wis.short"
      }}</span>
    <span class="requisite-grid__stat-label">{{localize
        "OSE.scores.dex.short"
      }}</span>
    <span class="requisite-grid__stat-label">{{localize
        "OSE.scores.con.short"
      }}</span>
    <span class="requisite-grid__stat-label">{{localize
        "OSE.scores.cha.short"
      }}</span>
    <span class="requisite-grid__stat-label">Inclusive</span>

    <!-- Second row -->
    <span class="requisite-grid__heading">{{localize
        "FACTIONS.templates.characterClass.prerequisites"
      }}</span>
    <input
      type="text"
      data-dtype="Number"
      name="system.prerequisites.str"
      value="{{document.system.prerequisites.str}}"
    />
    <input
      type="text"
      data-dtype="Number"
      name="system.prerequisites.int"
      value="{{document.system.prerequisites.int}}"
    />
    <input
      type="text"
      data-dtype="Number"
      name="system.prerequisites.wis"
      value="{{document.system.prerequisites.wis}}"
    />
    <input
      type="text"
      data-dtype="Number"
      name="system.prerequisites.dex"
      value="{{document.system.prerequisites.dex}}"
    />
    <input
      type="text"
      data-dtype="Number"
      name="system.prerequisites.con"
      value="{{document.system.prerequisites.con}}"
    />
    <input
      type="text"
      data-dtype="Number"
      name="system.prerequisites.cha"
      value="{{document.system.prerequisites.cha}}"
    />

    <!-- Third row -->
    <span class="requisite-grid__heading">{{localize
        "FACTIONS.templates.characterClass.primerequisites.half"
      }}</span>
    <input
      type="text"
      data-dtype="Number"
      name="system.primerequisites.half.str"
      value="{{document.system.primerequisites.half.str}}"
    />
    <input
      type="text"
      data-dtype="Number"
      name="system.primerequisites.half.int"
      value="{{document.system.primerequisites.half.int}}"
    />
    <input
      type="text"
      data-dtype="Number"
      name="system.primerequisites.half.wis"
      value="{{document.system.primerequisites.half.wis}}"
    />
    <input
      type="text"
      data-dtype="Number"
      name="system.primerequisites.half.dex"
      value="{{document.system.primerequisites.half.dex}}"
    />
    <input
      type="text"
      data-dtype="Number"
      name="system.primerequisites.half.con"
      value="{{document.system.primerequisites.half.con}}"
    />
    <input
      type="text"
      data-dtype="Number"
      name="system.primerequisites.half.cha"
      value="{{document.system.primerequisites.half.cha}}"
    />
    <input
      type="checkbox"
      name="system.primerequisites.halfIsAnd"
      data-tooltip="{{localize
        'FACTIONS.templates.characterClass.canUseConMod'
      }}"
      data-label="{{localize 'FACTIONS.templates.characterClass.canUseConMod'}}"
      {{checked document.system.primerequisites.halfIsAnd}}
    />

    <!-- Fourth row -->
    <span class="requisite-grid__heading">{{localize
        "FACTIONS.templates.characterClass.primerequisites.full"
      }}</span>
    <input
      type="text"
      data-dtype="Number"
      name="system.primerequisites.full.str"
      value="{{document.system.primerequisites.full.str}}"
    />
    <input
      type="text"
      data-dtype="Number"
      name="system.primerequisites.full.int"
      value="{{document.system.primerequisites.full.int}}"
    />
    <input
      type="text"
      data-dtype="Number"
      name="system.primerequisites.full.wis"
      value="{{document.system.primerequisites.full.wis}}"
    />
    <input
      type="text"
      data-dtype="Number"
      name="system.primerequisites.full.dex"
      value="{{document.system.primerequisites.full.dex}}"
    />
    <input
      type="text"
      data-dtype="Number"
      name="system.primerequisites.full.con"
      value="{{document.system.primerequisites.full.con}}"
    />
    <input
      type="text"
      data-dtype="Number"
      name="system.primerequisites.full.cha"
      value="{{document.system.primerequisites.full.cha}}"
    />
    <input
      type="checkbox"
      name="system.primerequisites.fullIsAnd"
      data-tooltip="{{localize
        'FACTIONS.templates.characterClass.canUseConMod'
      }}"
      data-label="{{localize 'FACTIONS.templates.characterClass.canUseConMod'}}"
      {{checked document.system.primerequisites.fullIsAnd}}
    />
  </div>

  <div class="control">
    <h2>{{localize "FACTIONS.templates.characterClass.restrictions"}}</h2>
    {{editor
      restrictions
      target="system.restrictions"
      class="journal-page-content"
      button=false
      editable=true
      engine=editor.engine
      collaborate=editor.collaborate
    }}
  </div>
</section>