{{!
}}
<section
  class="tab region-{{tab.id}} {{tab.cssClass}}"
  data-tab="{{tab.id}}"
  data-group="{{tab.group}}"
>
  <img
    data-edit="system.img"
    src="{{document.system.img}}"
    class="header-image"
  />

  {{editor
    description
    target="system.description"
    class="journal-page-content"
    button=false
    editable=true
    engine=editor.engine
    collaborate=editor.collaborate
  }}
</section>