
{{!--
--}}

<section class="tab region-{{tab.id}} {{tab.cssClass}}" data-tab="{{tab.id}}" data-group="{{tab.group}}">
	{{#each document.system.leveledResources as |resourceItem resourceIndex|}}
		<div class="resource-category" data-category-id="{{@index}}">
			<header>
				<label>{{localize "FACTIONS.templates.characterClass.resources.category.label"}}</label>
				<input type="text" data-dtype="String" name="system.leveledResources.{{resourceIndex}}.label" value="{{resourceItem.label}}" />		
				<button type="button" class="delete-button delete-resource" aria-label="{{localize "FACTIONS.templates.characterClass.resources.category.remove"}}"><i class="fas fa-x"></i></button>
			</header>
			{{#if pool}}
				<div class="resource-table">
					<table class="resource-pools">
						<thead>
							<tr>
								<th>{{localize "FACTIONS.templates.characterClass.resources.pool.label"}}</th>
								{{#each (repeat @root.document.system.maxLevel)}}
									<th>{{add @index 1}}</th>
								{{/each}}
								<th></th>
							</tr>
						</thead>
						<tbody>
							{{#each pool as |poolItem poolIndex|}}
							<tr data-pool-id="{{poolIndex}}">
								<th>
									<input
										type="text"
										name="system.leveledResources.{{resourceIndex}}.pool.{{poolIndex}}.label"
										value="{{poolItem.label}}" />
								</th>
								{{#each (repeat @root.document.system.maxLevel)}}
									<td>
										<input
											type="text"
											data-dtype="Number"
											name="system.leveledResources.{{resourceIndex}}.pool.{{poolIndex}}.perLevel.{{@index}}"
											value="{{#if (lookup poolItem.perLevel @index)}}{{lookup poolItem.perLevel @index}}{{/if}}"
											placeholder="&ndash;" /> 
									</td>
								{{/each}}
								<td class="controls">
									<button type="button" class="delete-button delete-resource-pool" aria-label="{{localize "FACTIONS.templates.characterClass.resources.pool.remove"}}"><i class="fas fa-x"></i></button>
								</td>
							</tr>
							{{/each}}
						</tbody>
					</table>
				</div>
			{{else}}
				<p class="empty">{{localize "FACTIONS.templates.characterClass.empty.resources.pool"}}</p>
			{{/if}}
			<button type="button" class="add-resource-pool">{{localize "FACTIONS.templates.characterClass.resources.pool.add"}}</button>
		</div>
	{{else}}
		<p class="empty">{{localize "FACTIONS.templates.characterClass.empty.resources.category"}}</p>
	{{/each}}

	<footer class="tab-controls">
		<button type="button" class="add-resource">{{localize "FACTIONS.templates.characterClass.resources.category.add"}}</button>
	</footer>
</section>
