<article class="tab character-class-sheet-{{tab.id}} {{tab.cssClass}}" data-tab="{{tab.id}}" data-group="{{tab.group}}">
  <header class="tab__header">
    <h2>{{localize "BAGS.CharacterClass.Tabs.Advancement"}}</h2>
  </header>

  <div class="tab__content scrollable">
    <table class="xp-table">
      <colgroup>
        <col span="4" />
        <col span="5" class="saves" />
        {{#each item.system.leveledResources}}
        {{#if pool.length}}
        <col span="{{pool.length}}" class="resource-{{@index}}" />
        {{/if}}
        {{/each}}
      </colgroup>
      <thead>
        <tr>
          <th rowspan="2">{{localize "BAGS.CharacterClass.XPTable.Level"}}</th>
          <th rowspan="2">{{localize "BAGS.CharacterClass.XPTable.XP"}}</th>
          <th rowspan="2">{{localize "BAGS.CharacterClass.XPTable.HD"}}</th>
          <th rowspan="2">{{localize "BAGS.CharacterClass.XPTable.THAC0"}}</th>
          <th colspan="5">{{localize "BAGS.CharacterClass.XPTable.Saves"}}</th>
          {{#each item.system.leveledResources}}
          {{#if pool.length}}
          <th colspan="{{pool.length}}">{{label}}</th>
          {{/if}}
          {{/each}}
          {{#if item.system.spellSlots.length}}
          <th colspan="{{item.system.spellSlots.length}}">Spell Slots</th>
          {{/if}}
        </tr>
        <tr>
          <th data-tooltip="{{localize " BAGS.SavingThrows.Death.Long"}}">{{localize "BAGS.SavingThrows.Death.Initial"}}
          </th>
          <th data-tooltip="{{localize " BAGS.SavingThrows.Wand.Long"}}">{{localize "BAGS.SavingThrows.Wands.Initial"}}
          </th>
          <th data-tooltip="{{localize " BAGS.SavingThrows.Paralysis.long"}}">{{localize
            "BAGS.SavingThrows.Paralysis.Initial"}}</th>
          <th data-tooltip="{{localize " BAGS.SavingThrows.Breath.Long"}}">{{localize
            "BAGS.SavingThrows.Breath.Initial"}}
          </th>
          <th data-tooltip="{{localize " BAGS.SavingThrows.Spell.Long"}}">{{localize "BAGS.SavingThrows.Spell.Initial"}}
          </th>
          {{#each item.system.leveledResources}}
          {{#each pool}}
          <th>{{label}}</th>
          {{/each}}
          {{/each}}
          {{#each item.system.spellSlots as |perLevel levelIndex|}}
          <th>{{{ordinal (add levelIndex 1)}}}</th>
          {{/each}}
        </tr>
      </thead>

      <tbody>
        {{#each item.system.xpTable as |levelObj index|}}
        <tr>
          <td>{{add index 1}}</td>
          <td>{{levelObj.value}}</td>
          <td>{{levelObj.hd.count}}d{{../item.system.hitDieSize}}{{#if
            levelObj.hd.modifier}}+{{levelObj.hd.modifier}}{{/if}}{{#unless levelObj.hd.canUseConMod}}*{{/unless}}</td>
          <td>{{levelObj.thac0}} (+{{levelObj.attackBonus}})</td>
          <td data-tooltip="{{localize " OSE.saves.death.long"}}">{{levelObj.saves.death}}</td>
          <td data-tooltip="{{localize " OSE.saves.wand.long"}}">{{levelObj.saves.wands}}</td>
          <td data-tooltip="{{localize " OSE.saves.paralysis.long"}}">{{levelObj.saves.paralysis}}</td>
          <td data-tooltip="{{localize " OSE.saves.breath.long"}}">{{levelObj.saves.breath}}</td>
          <td data-tooltip="{{localize " OSE.saves.spell.long"}}">{{levelObj.saves.spell}}</td>
          {{#each ../item.system.leveledResources}}
          {{#each pool}}
          <td>{{#if (lookup perLevel index)}}{{lookup perLevel index}}{{else}}&ndash;{{/if}}</td>
          {{/each}}
          {{/each}}
          {{#each ../item.system.spellSlots as |perLevel|}}
          <td>{{#if (lookup perLevel index)}}{{lookup perLevel index}}{{else}}&ndash;{{/if}}</td>
          {{/each}}
        </tr>
        {{else}}
        <tr>
          <td colspan="9">
            <p class="empty">{{localize "BAGS.CharacterClass.empty.XPTable"}}</p>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
  <footer class="tab__footer">
    <p><em>*</em>: {{localize "BAGS.CharacterClass.XPTable.NoMoreConMod"}}</p>
  </footer>
</article>
