<div class="action__attempt">
  <span class="action__attempt__result action__attempt__result--{{#if (and message.blind (not isGM))}}blind{{else if isSuccess}}success{{else}}fail{{/if}}">
    {{#if (and message.blind (not isGM))}}
      <i class="fa-solid fa-eye-slash" aria-label="Blind Roll"></i>
    {{else}}
      {{total}}
    {{/if}}
  </span>
  <span class="action__attempt__context action__attempt__context--static">{{formatRoll formula target}}</span>

  <div class="action__attempt__dice-result">
    {{{tooltip}}}
  </div>
</div>


