<div class="action__icons">
  {{#if action.actor}}
    <img src="{{action.actor.img}}" alt="{{action.actor.name}}" />
  {{/if}}
  {{#if action.item}}
    <img src="{{action.item.img}}" alt="{{action.item.name}}" />
  {{/if}}
  {{#if action.details}}
    <img src="{{action.details.img}}" alt="{{action.details.name}}" />
  {{/if}}
</div>
