<div class="action__attempt">
  <span class="action__attempt__result{{#if (and target attempt.hasTarget)}} action__attempt__result--{{ifThen attempt.success "success" "fail"}}{{/if}}">{{attempt.roll.total}}</span>
  <span class="action__attempt__context action__attempt__context--attack">
    {{#if target}}
      {{localize
        "BAGS.ChatCards.Action.Attempt.Attack.ArmorClassHit.Ascending"
        amount=target.system.armorClass
      }}
    {{else}}
      {{#if usesDescendingAC}}
        {{localize
          "BAGS.ChatCards.Action.Attempt.Attack.ArmorClassHit.Descending"
          amount=attempt.acHit
        }}
      {{/if}}
    {{/if}}
  </span>
</div>

