<section
class="tab tab--{{tab.id}} standard-form {{tab.cssClass}}"
data-tab="{{tab.id}}"
data-group="{{tab.group}}"
>
  <header class="tab__header">
    <h2>{{localize "BAGS.Actions.Editor.Attempt.Heading"}}</h2>
  </header>

  {{formGroup fields.attempt.fields.flags.fields.isLikeAttack value=action.attempt.flags.isLikeAttack localize=true}}

  {{#if action.attempt.flags.isLikeAttack}}
    {{formGroup fields.attempt.fields.attack.fields.type value=action.attempt.attack.type localize=true}}
  {{else}}
    <fieldset class="attempt-roll">
      <legend>Roll</legend>
      {{formGroup fields.attempt.fields.roll.fields.formula value=action.attempt.roll.formula localize=true}}
      {{formGroup fields.attempt.fields.roll.fields.operator value=action.attempt.roll.operator localize=true}}
      {{formGroup fields.attempt.fields.roll.fields.target value=action.attempt.roll.target localize=true}}
    </fieldset>
  {{/if}}

  {{formGroup fields.attempt.fields.text.fields.success value=action.attempt.successText localize=true}}
  {{formGroup fields.attempt.fields.text.fields.fail value=action.attempt.failText localize=true}}

</section>

