<section
class="tab tab--{{tab.id}} {{tab.cssClass}}"
data-tab="{{tab.id}}"
data-group="{{tab.group}}"
>
  <header class="tab__header">
    <h2>{{localize "BAGS.CharacterClass.Tabs.Description"}}</h2>
  </header>
  <prose-mirror name="" value="{{action.description}}"></prose-mirror>
</section>

