{{!-- --}}
<section
  class="tab tab--action-editor tab--action-editor-{{tab.id}} {{tab.cssClass}}"
  data-tab="{{tab.id}}"
  data-group="{{tab.group}}"
>
  <h2>{{localize "BAGS.CharacterClass.Tabs.Description"}}</h2>
  <prose-mirror name="description" value="{{action.description}}"></prose-mirror>

</section>
