<section
  class="tab standard-form bags-app-tab bags-app-tab--{{tab.id}} {{tab.cssClass}}"
  data-tab="{{tab.id}}"
  data-group="{{tab.group}}"
>
  {{formGroup fields.name value=action.name localize=true}}

  {{formGroup fields.flags.fields.usesAttempt
    value=action.flags.usesAttempt
    localize=true
  }}

  {{formGroup fields.flags.fields.usesEffect
    value=action.flags.usesEffect
    localize=true
  }}
</section>

