<section class="scrollable">
  <div class="scrollable">
  <article class="standard-form">
    {{formGroup fields.name name="name" value=effect.name localize=true}}

    {{formGroup fields.type name="type" value=effect.type localize=true}}

    {{formGroup
      fields.flags.fields.isMagical
      name="flags.isMagical"
      value=effect.flags.isMagical
      localize=true
    }}

    {{formGroup
      fields.flags.fields.isLikeAttack
      name="flags.isLikeAttack"
      value=effect.flags.isLikeAttack
      localize=true
    }}


    <fieldset>
      <legend>{{localize "BAGS.Actions.Effects.Resistance.Heading"}}</legend>

      {{formGroup
        fields.flags.fields.canBeResisted
        value=effect.flags.canBeResisted
        name="flags.canBeResisted"
        localize=true
      }}

      {{#if effect.flags.canBeResisted}}
        {{formGroup
          fields.resistance.fields.type
          value=effect.resistance.type
          name="resistance.type"
          localize=true
        }}

        {{#if (eq effect.resistance.type "savingThrow")}}
          {{formGroup
            fields.resistance.fields.savingThrow
            value=effect.resistance.savingThrow
            name="resistance.savingThrow"
            localize=true
                choices=savingThrowChoices
          }}
        {{else}}
          <fieldset class="field-grid">
            <legend>Roll</legend>

            <div class="field-grid__row">
            {{formGroup
              fields.resistance.fields.roll.fields.formula
              value=effect.resistance.roll.formula
              name="resistance.roll.formula"
              localize=true
            }}
            {{formGroup
              fields.resistance.fields.roll.fields.operator
              value=effect.resistance.roll.operator
              name="resistance.roll.operator"
              localize=true
            }}

            {{#if (eq effect.resistance.type "abilityScore")}}
              {{formGroup
                fields.resistance.fields.abilityScore
                value=effect.resistance.abilityScore
                name="resistance.abilityScore"
                localize=true
                choices=abilityScoreChoices
              }}
            {{/if}}

            {{#if (eq effect.resistance.type "number")}}
              {{formGroup
                fields.resistance.fields.roll.fields.target
                value=effect.resistance.roll.target
                name="resistance.roll.target"
                localize=true
              }}
            {{/if}}
            </div>
          </fieldset>
          {{#if (or
            (eq effect.resistance.type "savingThrow")
            (eq effect.resistance.type "abilityScore")
          )}}
            {{formGroup
              fields.resistance.fields.targetRollModifier
              value=effect.resistance.targetRollModifier
              name="resistance.targetRollModifier"
              localize=true
            }}
          {{/if}}
        {{/if}}
      {{/if}}
    </fieldset>

    {{#if (eq effect.type "attack")}}
      {{formGroup
        fields.formula
        value=effect.formula
        name="formula"
        localize=true
      }}
      {{formGroup fields.note value=effect.note name="note" localize=true}}
      
      <fieldset>
        <legend>{{localize "BAGS.Actions.Effects.AreaOfEffect.Heading"}}</legend>
        {{formGroup
          fields.areaOfEffect.fields.type
          value=effect.areaOfEffect.type
          name="areaOfEffect.type"
          localize=true
        }}
        {{#if effect.areaOfEffect.type}}
          {{formGroup
            fields.areaOfEffect.fields.size
            value=effect.areaOfEffect.size
            name="areaOfEffect.size"
            localize=true
          }}
        {{/if}}
      </fieldset>
    {{/if}}

    {{#if (eq effect.type "healing")}}
      {{formGroup
        fields.formula
        value=effect.formula
        name="formula"
        localize=true
      }}
    {{/if}}
    </article>

    {{#if (eq effect.type "macro")}}
      <fieldset>
        <legend>Macro settings</legend>

        {{formGroup fields.macro value=effect.macro name="macro" localize=true}}
      </fieldset>
    {{/if}}

    {{#if (eq effect.type "table")}}
      <fieldset>
        <legend>Table settings</legend>

        {{formInput
          fields.rollTable.fields.document
          value=effect.rollTable.document
          name="rollTable.document"
          localize=true
        }}

        {{formInput
          fields.rollTable.fields.modifier
          value=effect.rollTable.modifier
          name="rollTable.modifier"
          localize=true
        }}
      </fieldset>
    {{/if}}
    
    {{#if (eq effect.type "script")}}
      <fieldset>
        <legend>Script settings</legend>

        {{formInput
          fields.script
          value=effect.script
          name="script"
          localize=true
        }}
      </fieldset>
    {{/if}}

    {{#if (eq effect.type "effect")}}
      <fieldset>
        <legend>{{localize "BAGS.Actions.Effects.Condition.Heading"}}</legend>
        <article class="standard-form">
          {{formGroup fields.condition.fields.name name="condition.name" value=effect.condition.name localize=true}}
          {{formGroup fields.condition.fields.img name="condition.img" value=effect.condition.img localize=true}}
          {{formGroup fields.condition.fields.description name="condition.description" value=effect.condition.description localize=true}}
        </article>


        <fieldset class="standard-form field-grid" style="--field-grid-columns: 4">
          <legend>{{localize "BAGS.Actions.Effects.Condition.Changes.Heading"}}</legend>
          <header class="field-grid__row field-grid-row--header">
            <span>{{localize fields.condition.fields.changes.element.fields.key.label}}</span>
            <span>{{localize fields.condition.fields.changes.element.fields.mode.label}}</span>
            <span>{{localize fields.condition.fields.changes.element.fields.value.label}}</span>
            <span>{{localize fields.condition.fields.changes.element.fields.priority.label}}</span>
            <button type="button" class="inline-control icon" data-action="add-condition-change" data-tooltip="{{localize "BAGS.Actions.Effects.Condition.Changes.AddButton"}}">
              <i class="fa fa-plus"></i>
            </button>
          </header>
          {{#if effect.condition.changes.length}}
            <div class="field-grid__row">
              {{#each effect.condition.changes}}
                {{formInput ../fields.condition.fields.changes.element.fields.key name=(concat "condition.changes." @index ".key") value=key localize=true}}
                {{formInput ../fields.condition.fields.changes.element.fields.mode name=(concat "condition.changes." @index ".mode") value=mode localize=true choices=@root.changeModes}}
                {{formInput ../fields.condition.fields.changes.element.fields.value name=(concat "condition.changes." @index ".value") value=value localize=true}}
                {{formInput ../fields.condition.fields.changes.element.fields.priority name=(concat "condition.changes." @index ".priority") value=priority localize=true}}
                <button type="button" data-action="delete-condition-change" data-condition-change-index="{{@index}}" class="icon inline-control">
                  <i class="fa fa-trash"></i>
                </button>
              {{/each}}
            </div>
          {{else}}
            <p>{{localize "BAGS.Actions.Effects.Condition.Changes.EmptyState"}}</p>
          {{/if}}
        </fieldset>
        
        <article class="standard-form field-grid">
          <fieldset class="field-grid__row" style="--field-grid-columns: 3">
            <legend>{{localize "BAGS.Actions.Effects.Condition.Duration.Label"}}</legend>
            {{formGroup fields.condition.fields.duration.fields.rounds name="condition.duration.rounds" value=effect.condition.duration.rounds localize=true}}
            {{formGroup fields.condition.fields.duration.fields.seconds name="condition.duration.seconds" value=effect.condition.duration.seconds localize=true}}
            {{formGroup fields.condition.fields.duration.fields.turns name="condition.duration.turns" value=effect.condition.duration.turns localize=true}}
          </fieldset>
        </article>
      </fieldset>
    {{/if}}

    {{#if (eq effect.type "misc")}}
      {{formInput
        fields.description
        value=effect.description
        name="description"
        localize=true
      }}
    {{/if}}
  </div>
</section>
