{{#> sheetTab tab=tabs.settings}}
  <section class="scrollable">
    <article class="standard-form">
      {{formGroup
        fields.name
        value=action.name
        name="name"
        localize=true
      }}
      {{formGroup
        fields.flags.fields.usesAttempt
        value=action.flags.usesAttempt
        name="flags.usesAttempt"
        localize=true
      }}
      {{formGroup fields.flags.fields.usesEffect value=action.flags.usesEffect name="flags.usesEffect" localize=true }}
      {{formGroup
        fields.flags.fields.usesRestrictions
        value=action.flags.usesRestrictions
        name="flags.usesRestrictions"
        localize=true
      }}
      {{formGroup
        fields.flags.fields.usesConsumption
        value=action.flags.usesConsumption
        name="flags.usesConsumption"
        localize=true
      }}
      {{formGroup
        fields.flags.fields.isBlind
        value=action.flags.isBlind
        name="flags.isBlind"
        localize=true
      }}
      
      <fieldset>
        <legend>{{localize "BAGS.Actions.Range.Label"}}</legend>
        {{formGroup
          systemFields.attack.fields.range.fields.short
          value=document.system.attack.range.short
          localize=true
        }}
        {{formGroup
          systemFields.attack.fields.range.fields.medium
          value=document.system.attack.range.medium
          localize=true
        }}
        {{formGroup
          systemFields.attack.fields.range.fields.long
          value=document.system.attack.range.long
          localize=true
        }}
      </fieldset>
      <p>{{localize "BAGS.Actions.Range.Note"}}</p>
    </article>
  </section>
{{/sheetTab}}
