{{#> sheetTab}}
<h2>{{localize "BAGS.Actors.Common.Tabs.Details"}}</h2>
{{log systemFields}}
<div class="scrollable">
  <div class="standard-form">
    {{formGroup fields.name
      value=document.name
      hint=""}}

    <fieldset class="standard-form__field-group">
      <legend>Hit Dice</legend>

      {{formGroup systemFields.hp.fields.hitDice.fields.count
        value=document.system.hp.hitDice.count
        hint=""
        localize=true
      }}
      {{formGroup systemFields.hp.fields.hitDice.fields.size
        value=document.system.hp.hitDice.size
        hint=""
        localize=true
      }}
      {{formGroup systemFields.hp.fields.hitDice.fields.modifier
        value=document.system.hp.hitDice.modifier
        hint=""
        localize=true
      }}

      <button
        class="icon inline-control"
        aria-label="Update Stats to Match Hit Dice"
        data-tooltip="Update Stats to Match Hit Dice"
        data-action="update-stats-via-hit-dice"
      ><i class="fa fa-refresh"></i></button>
    </fieldset>

    <div class="field-columns">
      {{formGroup systemFields.base.fields.speed
        value=document.system.base.speed
        localize=true
      }}
      {{formGroup systemFields.xp
        value=document.system.xp
        localize=true
      }}
    </div>

    <div class="field-columns">
      {{formGroup systemFields.biographicalDetails.fields.alignment
        value=document.system.biographicalDetails.alignment
        localize=true
      }}
      {{formGroup systemFields.biographicalDetails.fields.intelligence
        value=document.system.biographicalDetails.intelligence
        localize=true
      }}
    </div>
    
    <div class="field-columns">
      {{formGroup systemFields.biographicalDetails.fields.identityPrefix
        value=document.system.biographicalDetails.identityPrefix
        localize=true
      }}
      {{formGroup systemFields.biographicalDetails.fields.identitySuffix
        value=document.system.biographicalDetails.identitySuffix
        localize=true
      }}
    </div>
    
  </div>
</div>
{{/sheetTab}}
