{{#> sheetTab}}
  <header class="tab__header">
    <h2>{{localize "BAGS.CharacterClass.Tabs.Information"}}</h2>
  </header>

  <div class="scrollable">
    <div class="standard-form">

      {{formGroup systemFields.hitDieSize value=document.system.hitDieSize}}

      {{formGroup systemFields.weapons value=document.system.weapons}}
      {{formGroup systemFields.armor value=document.system.armor}}
      {{formGroup systemFields.languages value=document.system.languages}}

      {{!--
        This looks a little weird, and is due an explanation:

        If there isn't a roll table assigned to this class, we'll render
        Foundry's built-in input for roll tables.

        If there *is* a roll table assigned to this class, we render a link to
        the roll table (so the user can edit the table), as well as a button
        that allows the user to clear the table field.
      --}}
      <div class="form-group">
        <label>{{localize "BAGS.CharacterClass.FIELDS.gearTable.label"}}</label>
        {{#unless document.system.gearTable}}
          {{formInput systemFields.gearTable}}
        {{else}}
          <div class="form-fields">
            {{{formattedSystem.gearTable}}}
            <button
              type="button"
              class="inline-control icon fas fa-x"
              data-action="clear-gear-table"
              data-tooltip="Remove gear table"
              aria-label="Remove gear table"
            ></button>
          </div>
        {{/unless}}
        <p class="hint">{{localize
            "BAGS.CharacterClass.FIELDS.gearTable.hint"
          }}</p>
      </div>

    </div>
  </div>
{{/sheetTab}}
