{{#> sheetTab}}

  {{#if item.system.flavorText}}
    <div class="flavor">{{{item.system.flavorText}}}</div>
  {{/if}}

  <main>
    {{{item.system.description}}}
  </main>

  <aside class="scrollable">
    {{#if document.system.currentLevelDetails}}
    {{#with document.system.currentLevelDetails}}
    <dl>
      <dt>Hit Dice</dt>
      <dd>{{hd.count}}d{{@root.document.system.hitDieSize}}{{ifThen hd.modifier (signNumber hd.modifier) ""}}</dd>

      <dt>THAC0</dt>
      <dd>{{thac0}}</dd>
    </dl>
    <h3 class="decorated">Saving Throws</h3>
    <dl>
      {{#each savingThrows}}
      <dt>{{@key}}</dt>
      <dd>{{this}}</dd>
      {{/each}}
    </dl>
    {{/with}}
    {{/if}}

    {{#if item.system.hasPrerequisites}}
      <h3 class="decorated">{{localize "BAGS.CharacterClass.Information.Prerequisites"}}</h3>
      <dl>
      {{#each item.system.prerequisitesFormatted}}
        <dt>{{localize this.label}}</dt>
        <dd>{{this.value}}</dd>
      {{/each}}
      </dl>
    {{/if}}

    <h3 class="decorated">{{localize "BAGS.CharacterClass.Information.PrimeRequisites"}}</h3>
    <dl class="prime-requisites-list">
      <dt>5%</dt>
      <dd>
        {{#each item.system.halfRequisitesFormatted}}
          {{#unless @first}}
            {{#if @last}}
              {{#if @root.item.system.halfPrimeRequisites.isAnd}}
                {{localize "BAGS.CharacterClass.Information.PrimeRequisitesInclusive"}}
              {{else}}
                {{localize "BAGS.CharacterClass.Information.PrimeRequisitesExclusive"}}
              {{/if}}
            {{/if}}
          {{/unless}}

          {{this.value}} {{localize this.label}}

          {{#unless @last}}
            {{#if (gt ../item.system.halfRequisitesCount 2)}},{{/if}}
          {{/unless}}
        {{else}}
          <p class="empty">{{localize "BAGS.CharacterClass.Information.PrimeRequisitesEmpty"}}</p>
        {{/each}}
      </dd>
      <dt>10%</dt>
      <dd>
        {{#each item.system.fullRequisitesFormatted}}
          {{#unless @first}}
            {{#if @last}}
              {{#if @root.item.system.fullPrimeRequisites.isAnd}}
                {{localize "BAGS.CharacterClass.Information.PrimeRequisitesInclusive"}}
              {{else}}
                {{localize "BAGS.CharacterClass.Information.PrimeRequisitesExclusive"}}
              {{/if}}
            {{/if}}
          {{/unless}}

          {{this.value}} {{localize this.label}}

          {{#unless @last}}
            {{#if (gt ../item.system.fullRequisitesCount 2)}},{{/if}}
          {{/unless}}
        {{else}}
          <p class="empty">{{localize "BAGS.CharacterClass.Information.PrimeRequisitesEmpty"}}</p>
        {{/each}}
      </dd>
    </dl>

    {{#if restrictions}}
    <h3 class="decorated">{{localize "BAGS.CharacterClass.Information.Restrictions"}}</h3>
    {{{restrictions}}}
    {{/if}}

    {{#if gearTable}}
      <h3 class="decorated">{{localize "BAGS.CharacterClass.Information.GearTable"}}</h3>
      <p>{{{gearTable}}}</p>
    {{/if}}

  </aside>
{{/sheetTab}}
