{{#> sheetTab}}
  <header class="tab__header">
    <h2>{{localize "BAGS.CharacterClass.Tabs.Advancement"}}</h2>
  </header>

  <div class="tab__content scrollable">
    <table class="xp-table">
      <colgroup>
        <col span="4" />
        <col span="{{SavingThrowTypeCount}}" class="saves" />
        {{#each item.system.leveledResources}}
        {{#if pool.length}}
        <col span="{{pool.length}}" class="resource-{{@index}}" />
        {{/if}}
        {{/each}}
      </colgroup>
      <thead>
        <tr>
          <th rowspan="2">{{localize "BAGS.CharacterClass.XPTable.Level"}}</th>
          <th rowspan="2">{{localize "BAGS.CharacterClass.XPTable.XP"}}</th>
          <th rowspan="2">{{localize "BAGS.CharacterClass.XPTable.HD"}}</th>
          {{#if usesDescendingAC}}
            <th rowspan="2">{{localize "BAGS.CharacterClass.XPTable.THAC0"}}</th>
          {{else}}
            <th rowspan="2">{{localize "BAGS.CharacterClass.XPTable.AttackBonus"}}</th>
          {{/if}}
          <th colspan="{{savingThrowTypeCount}}">{{localize "BAGS.CharacterClass.XPTable.Saves"}}</th>
          {{#each item.system.leveledResources}}
          {{#if pool.length}}
          <th colspan="{{pool.length}}">{{label}}</th>
          {{/if}}
          {{/each}}
          {{#if item.system.spellSlots.length}}
          <th colspan="{{item.system.spellSlots.length}}">Spell Slots</th>
          {{/if}}
        </tr>
        <tr>
          {{#each savingThrows as |save key|}}
          <th data-tooltip="{{localize save.label}}">{{localize save.initial}}</th>
          {{/each}}
          {{#each item.system.leveledResources}}
          {{#each pool}}
          <th>{{label}}</th>
          {{/each}}
          {{/each}}
          {{#each item.system.spellSlots as |perLevel levelIndex|}}
          <th>{{{ordinal (add levelIndex 1)}}}</th>
          {{/each}}
        </tr>
      </thead>

      <tbody>
        {{#each item.system.xpTable as |levelObj index|}}
        <tr>
          <td>{{add index 1}}</td>
          <td>{{levelObj.value}}</td>
          <td>{{levelObj.hd.count}}d{{../item.system.hitDieSize}}{{#if
            levelObj.hd.modifier}}+{{levelObj.hd.modifier}}{{/if}}{{#unless levelObj.hd.canUseConMod}}*{{/unless}}</td>
          {{#if ../usesDescendingAC}}
            <td>{{levelObj.thac0}}</td>
          {{else}}
            <td>{{signNumber levelObj.attackBonus}}</td>
          {{/if}}

          {{!-- Saving throws --}}
          {{#each ../savingThrows as |save key|}}
            <td data-tooltip="{{localize save.label}}">{{lookup levelObj.saves key}}</td>
          {{/each}}

          {{!-- Leveled resources (thief skills) --}}
          {{#each ../item.system.leveledResources}}
            {{#each pool}}
              <td>{{#if (lookup perLevel index)}}{{lookup perLevel index}}{{else}}&ndash;{{/if}}</td>
            {{/each}}
          {{/each}}

          {{!-- Spell slots --}}
          {{#each ../item.system.spellSlots as |perLevel|}}
            <td>{{#if (lookup perLevel index)}}{{lookup perLevel index}}{{else}}&ndash;{{/if}}</td>
          {{/each}}
        </tr>
        {{else}}
        <tr>
          <td colspan="9">
            <p class="empty">{{localize "BAGS.CharacterClass.empty.XPTable"}}</p>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
  <footer class="tab__footer">
    <p class="advancement-table-con-mod-explanation"><em>*</em>: {{localize "BAGS.CharacterClass.XPTable.NoMoreConMod"}}</p>
  </footer>
{{/sheetTab}}
