{{#> sheetTab}}
  <header class="tab__header">
    <h2>{{localize "BAGS.CharacterClass.Tabs.XP"}}</h2>
  </header>
  <div class="tab__content scrollable">
    <table class="xp-table sticky-table">
      <thead>
        <tr>
          <th rowspan="2">{{localize "BAGS.CharacterClass.XPTable.Level"}}</th>
          <th rowspan="2">{{localize "BAGS.CharacterClass.XPTable.XP"}}</th>
          <th rowspan="2">{{localize "BAGS.CharacterClass.XPTable.HD"}}</th>
          {{#if usesDescendingAC}}
          <th rowspan="2">{{localize "BAGS.CharacterClass.XPTable.THAC0"}}</th>
          {{else}}
          <th rowspan="2">{{localize "BAGS.CharacterClass.XPTable.AttackBonus"}}</th>
          {{/if}}
          <th rowspan="2">{{localize "BAGS.CharacterClass.XPTable.ConMod"}}</th>
          <th colspan="{{savingThrowTypeCount}}">{{localize "BAGS.CharacterClass.XPTable.Saves"}}</th>
        </tr>
        <tr>
          {{#each @root.savingThrows as |save saveKey|}}
            <th>
              {{localize save.initial}}
            </th>
          {{/each}}
        </tr>
      </thead>

      <tbody>
        {{#each document.system.xpTable as |levelObj index|}}
          <tr>
            <td>{{add index 1}}</td>
            <td>
              <input
                type="text"
                data-dtype="Number"
                class="xp-field xp-field--xp"
                name="system.xpTable.{{index}}.value"
                value="{{levelObj.value}}"
              />
            </td>
            <td>
              <span class="flexrow">
                <input
                  type="text"
                  data-dtype="Number"
                  class="xp-field xp-field--"
                  name="system.xpTable.{{index}}.hd.count"
                  value="{{levelObj.hd.count}}"
                />
                d{{@root.document.system.hitDieSize}}+
                <input
                  type="text"
                  data-dtype="Number"
                  class="xp-field xp-field--"
                  name="system.xpTable.{{index}}.hd.modifier"
                  value="{{levelObj.hd.modifier}}"
                />
              </span>
            </td>
            <td>
              <span class="flexrow">
                {{#if ../usesDescendingAC}}
                <input
                  type="text"
                  data-dtype="Number"
                  class="xp-field xp-field--"
                  name="system.xpTable.{{index}}.thac0"
                  value="{{levelObj.thac0}}"
                />
                {{else}}
                +
                <input
                  type="text"
                  data-dtype="Number"
                  class="xp-field xp-field--"
                  name="system.xpTable.{{index}}.attackBonus"
                  value="{{levelObj.attackBonus}}"
                />
                {{/if}}
              </span>
            </td>
            <td>
              <input
                type="checkbox"
                name="system.xpTable.{{index}}.hd.canUseConMod"
                data-tooltip="{{localize 'BAGS.CharacterClass.XPTable.conMod'}}"
                aria-label="{{localize 'BAGS.CharacterClass.XPTable.conMod'}}"
                {{checked levelObj.hd.canUseConMod}}
              />
            </td>
            {{#each @root.savingThrows as |save saveKey|}}
              <td>
                {{formInput save.field
                  value=(lookup levelObj.saves saveKey)
                  name=(concat "system.xpTable." index ".saves." saveKey)
                }}
              </td>
            {{/each}}
          </tr>
        {{else}}
          <tr>
            <td colspan="10">
              <p class="empty">{{localize
                  "BAGS.CharacterClass.XPTable.Empty"
                }}</p>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>

  <footer class="tab-controls flexrow">
    <button type="button" data-action="add-level"><i class="fas fa-plus"></i>
      {{localize "BAGS.CharacterClass.XPTable.Add"}}</button>
    <button type="button" data-action="remove-level"><i
        class="fas fa-minus"
      ></i>
      {{localize "BAGS.CharacterClass.XPTable.Remove"}}</button>
  </footer>
{{/sheetTab}}
