{{#> sheetTab}}
  <header class="tab__header">
    <h2>{{localize "BAGS.Identity.Editor.Tabs.Details"}}</h2>
  </header>
  <div class="scrollable">
    <div class="standard-form">
      <h3>{{localize "BAGS.Identity.Information.Prerequisites"}}</h3>
      <p class="form-hint">{{localize "BAGS.Identity.Information.PrerequisitesHint"}}</p>
      <div class="prerequisite-table">
        <span class="prerequisite-table__stat-label prerequisite-table__stat-label--column-heading">{{localize "BAGS.Common.AbilityScore"}}</span>
        <span class="prerequisite-table__stat-label prerequisite-table__stat-label--column-heading">{{localize "BAGS.Common.Minimum"}}</span>
        {{#each prerequisites}}
          <span class="prerequisite-table__stat-label">{{this.label}}</span>
          <span class="prerequisite-table__stat-field">
            {{formInput
              (lookup @root.systemFields.prerequisites.fields this.key)
              value=this.value}}
          </span>
        {{/each}}
      </div>
    </div>
  </div>
{{/sheetTab}}
