{{#> sheetTab}}
<h2>{{localize "BAGS.Items.Weapon.Tabs.Attack"}}</h2>
<div class="scrollable">
  <div class="standard-form">
    {{formGroup
      systemFields.attack.fields.name
      value=document.system.attack.name
      hint=""
      localize=true
    }}

    {{formGroup
      systemFields.attack.fields.attempt.fields.attack.fields.type
      value=document.system.attack.attempt.attack.type
      hint=""
      localize=true
    }}

    {{formGroup
      systemFields.attack.fields.attempt.fields.attack.fields.bonus
      value=document.system.attack.attempt.attack.bonus
      hint=""
      localize=true
    }}
    
    {{formGroup
      systemFields.attack.fields.effects.element.fields.formula
      value=document.system.attack.effects.0.formula
      label="BAGS.Items.Weapon.Fields.DamageFormula.Label"
      localize=true
    }}

    {{#if (eq document.system.attack.attempt.attack.type "missile")}}
      <fieldset>
        <legend>{{localize "BAGS.Actions.Range.Label"}}</legend>
        {{formGroup
          systemFields.attack.fields.range.fields.short
          value=document.system.attack.range.short
          localize=true
        }}
        {{formGroup
          systemFields.attack.fields.range.fields.medium
          value=document.system.attack.range.medium
          localize=true
        }}
        {{formGroup
          systemFields.attack.fields.range.fields.long
          value=document.system.attack.range.long
          localize=true
        }}
      </fieldset>
      <p>{{localize "BAGS.Actions.Range.Note"}}</p>
    {{/if}}


{{!--
    {{formGroup
      fields.attack.fields.name
      value=document.system.attack.name
      hint=""
      localize=true
    }}


    {{formGroup
      fields.attack.fields.name
      value=document.system.attack.name
      hint=""
      localize=true
    }}


    {{formGroup
      fields.attack.fields.name
      value=document.system.attack.name
      hint=""
      localize=true
    }}


    {{formGroup
      fields.attack.fields.name
      value=document.system.attack.name
      hint=""
      localize=true
    }}


    {{formGroup
      fields.attack.fields.name
      value=document.system.attack.name
      hint=""
      localize=true
    }}
--}}
  </div>
</div>
{{/sheetTab}}
