{{#> sheetTab}}
<h2>{{localize "BAGS.Items.Weapon.Tabs.Details"}}</h2>
<div class="scrollable">
  <div class="standard-form">
    {{formGroup fields.name value=document.name hint=""}}
    {{formGroup systemFields.cost value=document.system.cost localize=true}}
    {{formGroup systemFields.quantity value=document.system.quantity localize=true}}
    {{formGroup systemFields.weight value=document.system.weight localize=true}}
    {{formGroup systemFields.weaponBonus value=document.system.weaponBonus localize=true}}
    {{formGroup systemFields.countsAsTreasure value=document.system.countsAsTreasure localize=true}}
  </div>
</div>
{{/sheetTab}}
