{{#*inline "spell-tile"}}
  <li class="spell-list__item" data-item-id="{{id}}">
    <uft-item-tile uuid="{{uuid}}" draggable></uft-item-tile>
  </li>
{{/inline}}

{{#*inline "spell-tile-empty"}}
  <li class="spell-list__item spell-list__item--empty"></li>
{{/inline}}

{{#> sheetTab}}
  <header class="spell-preparation-header">
    <h2>{{localize "BAGS.SpellManager.PrepareSpells"}}</h2>
    <p class="hint">{{localize "BAGS.SpellManager.DragToPrepare"}}</p>
  </header>

  <div class="spell-preparation">
    {{#each maxSlots as |amount|}}  
      <h3>{{localize "BAGS.SpellManager.LevelNumber" level=(add @index 1)}}</h3>

      {{#unless (isEmptyArray (lookup ../availableSpells @index)) }}
        <div class="spell-preparation__available">
          <h4>{{localize "BAGS.SpellManager.AvailableSpells"}}</h4>
          <ul class="spell-list spell-list__available" data-spell-list-type="available">
            {{#each (lookup ../availableSpells @index)}}
              {{> spell-tile}}
            {{/each}}
          </ul>
        </div>
    
        <div class="spell-preparation__prepared">
          <h4>{{localize "BAGS.SpellManager.PreparedSpells"}}</h4>
          <ul class="spell-list spell-list__prepared" data-spell-list-type="prepared">
            {{#each (lookup ../preparedSpells @index) }}
              {{#if this}}
                {{> spell-tile}}
              {{else}}
                {{> spell-tile-empty}}
              {{/if}}
            {{/each}}
          </ul>
        </div>
      {{else}}
        <p class="empty">You have no spells of this level.</p>
      {{/unless}}
    {{/each}}
  </div>
{{/sheetTab}}
