<article class="tab character-class-sheet-{{tab.id}} {{tab.cssClass}}" data-tab="{{tab.id}}" data-group="{{tab.group}}">
  <h3>Inventory</h3>
  <div class="item-grid" style="--item-grid-minimum-rows: 5">
    {{#each inventory}}
      <uft-item-tile class="item-grid__item draggable" data-item-id="{{id}}" uuid="{{uuid}}"></uft-item-tile>
    {{/each}}
  </div>
</article>
