{{#> sheetTab}}
  <h3>Inventory</h3>
  
  <search>
    <i class="fa fa-search" role="presentation"></i>
    <input
      type="search"
      name="search"
      autocomplete="off"
      placeholder="Search items"
      aria-label="Search items" />

    <button
      type="button"
      class="inline-control sort icon {{ sortMode.icon }}"
      data-tooltip="{{ sortMode.label }}"
      aria-label="{{ localize sortMode.label }}"
    ></button>

    <button
      type="button"
      class="inline-control filter icon {{ filterMode.icon }}"
      data-tooltip="{{ filterMode.label }}"
      aria-label="{{ localize filterMode.label }}"
    ></button>

    <button
      type="button"
      class="inline-control toggle-filter icon fa fa-arrow-rotate-left"
      data-action="reset-filters"
      data-tooltip="Reset filters"
      aria-label="{{ localize "Reset filters" }}"
    ></button>

    <button
      type="button"
      class="inline-control icon fa fa-layer-group"
      data-action="stack-all-items"
      data-tooltip="{{localize 'BAGS.Actors.Character.Inventory.StackItems'}}"
      aria-label="{{localize 'BAGS.Actors.Character.Inventory.StackItems'}}"
    ></button>
  </search>

  <div
    class="item-grid item-grid--inventory"
    style="--item-grid-minimum-rows: 5">
    {{#each inventory}}
      <uft-item-tile
        class="item-grid__item draggable"
        data-item-id="{{id}}"
        uuid="{{uuid}}"
      ></uft-item-tile>
    {{/each}}
  </div>

{{/sheetTab}}
