{{#*inline "character-class"}}
  <article
    class="character-class"
    aria-label="Level {{system.level}} {{name}}"
  >
    <div class="character-class__name">
        <img
          src="{{img}}"
          class="document-art"
          alt=""
        />
        Lv. {{system.level}} {{name}}
    </div>
    <uft-character-info-meter
      value="{{xpBar.current}}"
      max="{{xpBar.max}}"
      class="xp"
    >
      <i slot="icon" class="fa fa-trophy"></i>
    </uft-character-info-meter>
  </article>
{{/inline}}

{{#*inline "tab-navigation"}}

{{/inline}}

{{#*inline "ability-scores"}}
  <div class="left-rail__section number-showcase">
    <ul class="number-showcase__list">
      {{#each document.system.schema.fields.base.fields.abilityScores}}
      <li data-tooltip="{{lookup ../abilityScoreTooltips name}}">
        <span class="number-showcase__label">{{localize (replace label "Label" "Short") }}</span>
        <span class="number-showcase__value">{{lookup ../document.system.base.abilityScores name}}</span>
      </li>
       {{/each}}
    </ul>
  </div>
{{/inline}}

{{#*inline "combat-modifiers"}}
  <div class="left-rail__section">
    <dl>
      {{#if (eq document.type "monster")}}
        {{#with document.system.hp.hitDice}}
          {{#if usesHitDice}}
            <dt>Hit Dice</dt>
            <dd>{{count}}d{{size}}{{ifThen modifier (signNumber modifier) ""}}</dd>
          {{/if}}
        {{/with}}
      {{/if}}
      {{#if usesDescendingAC}}
      <dt>THAC0</dt>
      <dd>{{document.system.thac0}}</dd>
      {{else}}
      <dt>Attack Bonus</dt>
      <dd>{{signNumber document.system.baseAttackBonus forceSign=true}}</dd>
      {{/if}}

      <dt>Armor Class</dt>
      <dd>{{document.system.armorClass}}</dd>

      <dt class="movement">Movement</dt>
      {{#if (eq document.type "character")}}
        <dd>
          {{#with document.system.speed}}
            {{exploration}}/{{encounter}}/{{overland}}
          {{/with}}
        </dd>
      {{else}}
        <dd>
          {{#with document.system.speed}}
            {{exploration}} ({{encounter}})
          {{/with}}
        </dd>  
      {{/if}}
    </dl>
  </div>

  {{#if (eq document.type "character")}}
  <div class="left-rail__section left-rail__section--combat">
    <header>
      <h3>{{localize "BAGS.Actors.Common.Combat.Modifiers"}}</h3>
      <span>{{localize "BAGS.Actors.Common.Combat.Attack"}}</span>
      <span>{{localize "BAGS.Actors.Common.Combat.Damage"}}</span>
    </header>

    <dl>
      <dt>{{localize "BAGS.Actors.Common.Combat.Melee"}}</dt>
      <dd>{{signNumber document.system.meleeAttackBonus forceSign=true}}</dd>
      <dd>{{signNumber document.system.meleeDamageBonus forceSign=true}}</dd>
      <dt>{{localize "BAGS.Actors.Common.Combat.Missile"}}</dt>
      <dd>{{signNumber document.system.missileAttackBonus forceSign=true}}</dd>
      <dd>{{signNumber document.system.missileDamageBonus forceSign=true}}</dd>
    </dl>
  </div>
  {{/if}}

  <div class="left-rail__section left-rail__section--saving-throws">
    <h3 class="decorated">Saving Throws</h3>
    <dl>
      {{#each savingThrowLocaleStrings as |save key|}}
        <dt data-tooltip="{{lookup ../savingThrowTooltips key}}">{{localize save.short}}</dt>
        <dd>{{lookup ../document.system.savingThrows key}}</dd>
      {{/each}}
      {{#if (eq document.type "character")}}
        <dt>Bonus vs. Magic</dt>
        <dd>
          {{signNumber document.system.abilityScores.wis.magicSave forceSign=true}}
        </dd>
      {{/if}}

      {{#if (and (eq document.type "monster") document.system.magicResistance) }}
        <dt>Magic Resistance</dt>
        <dd>75%</dd>      
      {{/if}}
    </dl>
  </div>
{{/inline}}

{{#*inline "monster-details"}}
  <div class="left-rail__section">
    <dl>
      <dt>{{localize "BAGS.Actors.Monster.Details.Alignment"}}</dt>
      <dd>{{ifThen document.system.biographicalDetails.alignment document.system.biographicalDetails.alignment (localize "BAGS.Actors.Monster.Details.Unaligned")}}</dd>

      <dt>{{localize "BAGS.Actors.Monster.Details.Intelligence"}}</dt>
      <dd>{{localize "BAGS.Actors.Monster.Details.Superhuman"}}</dd>       

      <dt>{{localize "BAGS.Actors.Monster.Details.NumberAppearing"}}</dt>
      <dd>{{localize "BAGS.Actors.Monster.Details.NumberRange"}}</dd>

      <dt>{{localize "BAGS.Actors.Monster.Details.MoraleRating"}}</dt>
      <dd>{{document.system.morale.value}}</dd>
    </dl>
  </div>
{{/inline}}


{{#*inline "employment-details"}}
  <dl>
    <dt>Employed by</dt>
    <dd>{{document.system.retainer.employer}}</dd>

    {{#if document.system.retainer.wage.quantity}}
      <dt>Wage</dt>
      <dd>{{document.system.retainer.wage.quantity}}/month</dd>
    {{/if}}
  </dl>
{{/inline}}

{{#*inline "action-item"}}
  <div class="action-source">
    <div class="action-source__header">
      <img class="action-source__icon" src="{{img}}" alt="">
      <h4 class="action-source__name">{{name}}</h4>
    </div>
    <div class="action-source__actions">
      {{#each system.actions}}
        {{> action-button parent=../parent}}
      {{/each}}
    </div>
  </div>
{{/inline}}

{{#*inline "action-item-collapsible"}}
  <details class="action-source" open>
    <summary class="action-source__header">
      <img class="action-source__icon" src="{{img}}" alt="">
      <h4 class="action-source__name">{{name}}</h4>
    </summary>
    <div class="action-source__actions" role="list">
      {{#each system.actions}}
        {{> action-button parent=../parent}}
      {{/each}}
    </div>
  </details>
{{/inline}}

{{#*inline "action-button"}}
  <button class="action-list-item action-list-item--single-action"
    role="listitem"
    data-action="use-action"
    data-item-id="{{parent.id}}"
    data-action-id="{{id}}">
    <img class="action-list-item__icon" src="{{img}}" alt="" role="presentation" />
    <span class="action-list-item__identity">
      <span class="action-list-item__title">{{name}}</span>
    </span>
  </button>
{{/inline}}

{{#*inline "effect-list-item"}}
  <button class="action-list-item action-list-item--single-action"
    role="listitem"
    data-action="view-effect"
    data-parent-type="{{parent.type}}"
    data-parent-id="{{parent.id}}"
    data-effect-id="{{id}}">
    <img class="action-list-item__icon" src="{{img}}" alt="" role="presentation" />
    <span class="action-list-item__identity">
      <span class="action-list-item__title">{{name}}</span>
    </span>
  </button>
{{/inline}}


<section class="left-rail theme-dark">
  {{#each classes}}
    {{> character-class this}}
  {{/each}}

  <article class="meters">
    <uft-character-info-meter
      value="{{document.system.hp.value}}"
      max="{{document.system.hp.max}}"
      class="hp"
    >
      <i
        slot="icon"
        class="fa fa-heart"
      ></i>
    </uft-character-info-meter>

    {{{ encumbranceMeter }}}
  </article>

  <nav class="tabs tabs--left-rail">
    {{#each tabs}}
      <button class="{{ifThen active "active" ""}}" data-tooltip="{{localize label}}" data-action="tab" data-group="{{group}}" data-tab="{{id}}" aria-label="{{localize label}}"><i class="{{icon}}"></i></button>
    {{/each}}
  </nav>

  {{#> sheetTab tab=tabs.summary}}
    {{#if (eq document.type "character")}}
      {{> ability-scores}}
    {{/if}}

    {{> combat-modifiers }}

    {{#if (eq document.type "monster")}}
      {{> monster-details}}
    {{/if}}

    {{#if document.system.retainer.isRetainer}}
      {{> employment-details}}
    {{/if}}
  {{/sheetTab}}

  {{#> sheetTab tab=tabs.actions}}
    {{#if (eq document.type "character")}}
      <div class="left-rail__section">
        <h3 class="decorated">{{localize "BAGS.Actors.Character.ExplorationSkills"}}</h3>
        <div class="action-grid action-grid--exploration-skills">
          {{#each document.system.actions}}
          <button
            class="action-grid-item"
            data-tooltip="{{name}}"
            data-action="use-action"
            data-action-id="{{id}}"
          >
            <img
              src="{{img}}"
              alt="{{localize name}}"
            />
          </button>
          {{/each}}
        </ul>
      </div>
    {{/if}}

    <div class="left-rail__section">
      <div class="action-list">
        <div class="action-category">
          <h3 class="action-category__header decorated">{{localize "BAGS.Actors.Character.Equipment.Title"}}</h3>
          {{#each document.equipped.weapon as |weapon index|}}
            {{#if (eq @index 0)}}
              {{> action-item parent=weapon}}
            {{else}}
              {{> action-item-collapsible parent=weapon}}
            {{/if}}
          {{else}}
            <p class="empty">{{localize "BAGS.Actors.Character.Equipment.NoWeaponActions"}}</p>
          {{/each}}
      
        </div>
      </div>
    </div>

    {{#if document.items.documentsByType.class.length}}
      <div class="left-rail__section">
        {{#each document.items.documentsByType.class}}
          {{#if system.actions.length}}
            <h3 class="decorated">{{localize "BAGS.Actors.Character.Abilities.ClassAbilities" className=name}}</h3>
            <ul class="equipment">

            </ul>
          {{/if}}
        {{/each}}
      </div>
    {{/if}}

    {{#if document.items.documentsByType.ability.length}}
    <div class="left-rail__section">
      <h3 class="decorated">{{localize "BAGS.Actors.Character.Abilities.OtherAbilities"}}</h3>
      <ul class="equipment">
      </ul>
    </div>
    {{/if}}
  {{/sheetTab}}

  {{#> sheetTab tab=tabs.effects}}
    <div class="left-rail__section">
      <h3 class="decorated">{{localize "BAGS.Actors.Common.Effects.Temporary"}}</h3>
      {{#if document.temporaryAppliedEffects.length}}
        <div class="action-list action-list--effects" role="list">
          {{#each document.temporaryAppliedEffects}}
            {{> effect-list-item}}
          {{/each}}
        </div>
      {{/if}}

      <h3 class="decorated">{{localize "BAGS.Actors.Common.Effects.Lingering"}}</h3>

      {{#if document.lastingAppliedEffects.length}}
        <div class="action-list action-list--effects" role="list">
          {{#each document.lastingAppliedEffects}}
            {{> effect-list-item}}
          {{/each}}
        </div>
      {{/if}}
    </div>
  {{/sheetTab}}
</section>
