<article
  class="tab character-class-sheet-{{tab.id}} {{tab.cssClass}}{{ifThen tab.active " active" ""}}"
  data-tab="{{tab.id}}"
  data-group="{{tab.group}}"
>
  {{#if actor.items.documentsByType.spell.length}}
  <div class="spell-slots">
    <h3>Prepared Spells</h3>
    <ol class="item-grid item-grid--spell-slots">
    </ol>
  </div>
  {{/if}}

  <div class="abilities">
    <h3>Abilities</h3>
    <ul class="item-grid item-grid--abilities">
    </ul>
  </div>

  <div class="equipment">
    <h3>Equipped Items</h3>
    <ul class="item-grid item-grid--equipment">
    </ul>
  </div>

  <div class="favorites">
    <h3>Favorites</h3>
    <ul class="item-grid item-grid--favorites">
    </ul>
  </div>
</article>
